{% extends "base.html" %}

{% block title %}
    Auctions
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"
          crossorigin="anonymous">
{% endblock %}

{% block main_content %}
    <h2>Auction List</h2>
    <div class="row mb-5">
        <table id="auctions" class="table table-bordered" style="width:100%">
            <thead>
            <tr>
                {% for name in auctions[0] %}
                    <th>{{ name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for auction in auctions %}
                <tr>
                    <td><a href="{{ auction["link"] }}">{{ auction["name"] }}</a></td>
                    <td>{{ auction["code"] }}</td>
                    <td>{{ auction.end_date.strftime("%d/%m/%Y") }}</td>
                    <td><a href="{{ auction["link"] }}">{{ auction["link"] }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('DD/MM/YYYY');

            $('#auctions').DataTable();
        });
    </script>
{% endblock %}