{% extends "base.html" %}

{% block title %}
    Charts
{% endblock %}

{% block css %}
{% endblock %}

{% block main_content %}
    <h2>Bottles</h2>
    <div class="row mb-5">
        <div id="curve_chart" style="width: 900px; height: 500px"></div>
    </div>

{#    <ul>#}
{#        {% for bottle in data %}#}
{#            <li>#}
{#                {{ bottle }}: {{ data[bottle] }}#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}

{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>
    <!--suppress UnreachableCodeJS -->
    <script>

        google.charts.load('current', {'packages': ['line'], 'language': 'en-gb'});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            function joinData() {
                {% if data|length == 1 %}
                    // no join necessary
                    return data_{{ data[0]["series"]|replace(" ", "_")|replace("%", "like") }}
                {% elif data|length >= 2 %}
                    // at least one join needed
                    let current_join = google.visualization.data.join(data_{{ data[0]["series"]|replace(" ", "_")|replace("%", "like") }}, data_{{ data[1]["series"]|replace(" ", "_")|replace("%", "like") }}, 'full', [[0, 0]], [1], [1]);
                    {% for i in range(2, data|length) %}
                        // join #{{ i }}...
                        current_join = google.visualization.data.join(current_join, data_{{ data[i]["series"]|replace(" ", "_")|replace("%", "like") }}, 'full', [[0, 0]], [1 {% for j in range(2, i+1) %}{{ ", " + j|string }}{% endfor %}], [1]);
                    {% endfor %}
                    return current_join
                {% endif %}
            }

            {% for ds in data %}
                {% set s_id = ds["series"]|replace(" ", "_")|replace("%", "like") %}

                let data_{{ s_id }} = new google.visualization.DataTable();

                let rows_{{ s_id }} = []

                data_{{ s_id }}.addColumn('date', "Auctions");
                rows_{{ s_id }}.push([{% for date in ds.dates %}new Date("{{ date }}"),{% endfor %}])

                data_{{ s_id }}.addColumn('number', "{{ ds.series }}");
                rows_{{ s_id }}.push({{ ds.prices }})

                let zipped_rows_{{ s_id }} = _.zip(...rows_{{ s_id }})

                console.log(rows_{{ s_id }}, zipped_rows_{{ s_id }})
                data_{{ s_id }}.addRows(zipped_rows_{{ s_id }})

            {% endfor %}

            const options = {
                chart: {
                    title: `Average price of bottles for {% for ds in data %}{{ ds.series + ", " if not loop.last else ds.series }}{% endfor %}`,
                    subtitle: "Average determined for each month"
                },
                vAxis: {
                    format: 'currency'
                },
                width: 900,
                height: 500
            };

            let joinedData = joinData()

            let chart = new google.charts.Line(document.getElementById('curve_chart'));

            chart.draw(joinedData, google.charts.Line.convertOptions(options));
        }
    </script>
{% endblock %}