{% extends "base.html" %}

{% block title %}
    Charts
{% endblock %}

{% block css %}
{% endblock %}

{% block main_content %}
    <h2>Bottles</h2>

    <div class="row mb-5">
        <p>Choose which bottles to compare</p>
    </div>
    <div class="row mb-5">
        <div>
            <form id="checkboxes">
                <input class="form-check-input series_input" type="checkbox"
                       id="market_trends"
                       value="market">
                <label class="form-check-label" for="market_trends">Market</label>
                {% for bottle in all_bottles %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input series_input" type="checkbox"
                               id="inlineCheckbox{{ bottle[0] }}"
                               value="{{ bottle[0] }}">
                        <label class="form-check-label" for="inlineCheckbox{{ bottle[0] }}">{{ bottle[0] }}</label>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
    <div class="row mb-5">
        <div id="curve_chart" style="width: 900px; height: 500px"></div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>
    <!--suppress UnreachableCodeJS -->
    <script>

        google.charts.load('current', {'packages': ['line'], 'language': 'en-gb'});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            function joinData() {
                {% if data|length == 1 %}
                    // no join necessary
                    return data_{{ data[0]["series"]|replace(" ", "_")|replace("%", "like") }}
                {% elif data|length >= 2 %}
                    // at least one join needed
                    let current_join = google.visualization.data.join(data_{{ data[0]["series"]|replace(" ", "_")|replace("%", "like") }}, data_{{ data[1]["series"]|replace(" ", "_")|replace("%", "like") }}, 'full', [[0, 0]], [1], [1]);
                    {% for i in range(2, data|length) %}
                        // join #{{ i }}...
                        current_join = google.visualization.data.join(current_join, data_{{ data[i]["series"]|replace(" ", "_")|replace("%", "like") }}, 'full', [[0, 0]], [1 {% for j in range(2, i+1) %}{{ ", " + j|string }}{% endfor %}], [1]);
                    {% endfor %}
                    return current_join
                {% endif %}
            }

            {% for ds in data %}
                {% set s_id = ds["series"]|replace(" ", "_")|replace("%", "like") %}

                let data_{{ s_id }} = new google.visualization.DataTable();

                let rows_{{ s_id }} = []

                data_{{ s_id }}.addColumn('date', "Auctions");
                rows_{{ s_id }}.push([{% for date in ds.dates %}new Date("{{ date }}"),{% endfor %}])

                data_{{ s_id }}.addColumn('number', "{{ ds.series }}");
                rows_{{ s_id }}.push({{ ds.prices }})

                let zipped_rows_{{ s_id }} = _.zip(...rows_{{ s_id }})

                {#console.log(rows_{{ s_id }}, zipped_rows_{{ s_id }})#}
                data_{{ s_id }}.addRows(zipped_rows_{{ s_id }})

            {% endfor %}

            const options = {
                chart: {
                    title: `Average price of bottles for {% for ds in data %}{{ ds.series + ", " if not loop.last else ds.series }}{% endfor %}`,
                    subtitle: "Average determined for each month"
                },
                vAxis: {
                    format: 'currency'
                },
                width: 900,
                height: 500
            };

            let joinedData = joinData()

            let chart = new google.charts.Line(document.getElementById('curve_chart'));

            chart.draw(joinedData, google.charts.Line.convertOptions(options));
        }
    </script>

    <script>
        function drawChart2(data_arr) {
            $("#curve_chart").empty()

            function joinData(data) {
                if (data.length === 1) {
                    return data[0]
                } else if (data.length >= 2) {
                    let current_join = google.visualization.data.join(data[0], data[1], 'full', [[0, 0]], [1], [1]);
                    for (let i = 2; i < data.length; i++) {
                        let col_arr = [1]
                        for (let j = 2; j < i + 1; j++) {
                            col_arr.push(j)
                        }
                        current_join = google.visualization.data.join(current_join, data[i], 'full', [[0, 0]], col_arr, [1]);
                    }
                    return current_join
                }
            }

            let datatable_arr = []

            data_arr.forEach((item) => {
                let temp_data = new google.visualization.DataTable()

                datatable_arr.push(temp_data);

                let rows = []
                let dates = []

                temp_data.addColumn('date', "Auctions");

                item.dates.forEach((date) => {
                    dates.push(new Date(date))
                })
                rows.push(dates)

                temp_data.addColumn('number', item.series);
                rows.push(item.prices)

                let zipped_rows = _.zip(...rows)

                temp_data.addRows(zipped_rows)
            })

            const options = {
                chart: {
                    title: `Average price of bottles for {% for ds in data %}{{ ds.series + ", " if not loop.last else ds.series }}{% endfor %}`,
                    subtitle: "Average determined for each month"
                },
                vAxis: {
                    format: 'currency'
                },
                width: 900,
                height: 500
            };

            let joinedData = joinData(datatable_arr)

            let chart = new google.charts.Line(document.getElementById('curve_chart'));

            chart.draw(joinedData, google.charts.Line.convertOptions(options));
        }

        $("form :input").change(function () {
            let bottles = []

            if ($(this).val() === "market" && $(this).is(":checked")) {
                $("form#checkboxes").find('input:checkbox:checked').each(function (idx, item) {
                    $(item).attr("checked", false)
                });
            }

            $(this).closest('form').find('input:checkbox:checked').each(function (idx, item) {
                {#if ($(item).val() === "all" && $(item).is(":checked")) {
                    $("form#checkboxes").find('input:checkbox').each(function (idx, item) {
                        $(item).attr("checked", true)
                    });
                    bottles.push("all")
                    return false
                }#}
                bottles.push($(item).val())
            })

            $.post(window.location.href, {
                "bottles": bottles
            }).done((resp) => {
                drawChart2(resp)
            }).fail((err) => {
                console.log(err, err.statusText)
            })
        });

    </script>
{% endblock %}