{% extends "base.html" %}

{% block title %}
    Charts
{% endblock %}

{% block css %}
{% endblock %}

{% block main_content %}
    <h2>Bottles</h2>
    <div class="row mb-5">
        <div id="curve_chart" style="width: 900px; height: 500px"></div>
    </div>

{#    <ul>#}
{#        {% for bottle in data %}#}
{#            <li>#}
{#                {{ bottle }}: {{ data[bottle] }}#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}

{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>
    <script>

        google.charts.load('current', {'packages': ['line'], 'language': 'en-gb'});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            let ds_names = []

            {% for ds in data %}
                {% set s_id = ds["series"]|replace(" ", "_")|replace("%", "like") %}

                ds_names.push("{{ s_id }}")

                let data_{{ s_id }} = new google.visualization.DataTable();

                let rows_{{ s_id }} = []

                data_{{ s_id }}.addColumn('date', "Auctions");
                rows_{{ s_id }}.push([{% for date in ds.dates %}new Date("{{ date }}"),{% endfor %}])

                data_{{ s_id }}.addColumn('number', "{{ ds.series }}");
                rows_{{ s_id }}.push({{ ds.prices }})

                let zipped_rows_{{ s_id }} = _.zip(...rows_{{ s_id }})

                console.log(rows_{{ s_id }}, zipped_rows_{{ s_id }})
                data_{{ s_id }}.addRows(zipped_rows_{{ s_id }})

            {% endfor %}



            const options = {
                chart: {
                    title: `Average price of bottles for {% for ds in data %}{{ ds.series + ", " if not loop.last else ds.series }}{% endfor %}`,
                    subtitle: "Average determined for each month"
                },
                vAxis: {
                    format: 'currency'
                },
                width: 900,
                height: 500
            };



            let joinedData = google.visualization.data.join({% for ds in data %}data_{{ ds["series"]|replace(" ", "_")|replace("%", "like") }},{% endfor %} 'full', [[0, 0]], [1], [1]);

            let chart = new google.charts.Line(document.getElementById('curve_chart'));

            chart.draw(joinedData, google.charts.Line.convertOptions(options));
        }
    </script>
    {#    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"#}
    {#            integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>#}
    {#    <script>#}
    {#        const ctx = $('#myChart');#}
    {#        let myChart = new Chart(ctx, {#}
    {#            type: 'line',#}
    {#            data: {#}
    {#                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],#}
    {#                datasets: [{#}
    {#                    label: '# of Votes',#}
    {#                    data: [12, 19, 3, 5, 2, 3],#}
    {#                    backgroundColor: [#}
    {#                        'rgba(255, 99, 132, 0.2)',#}
    {#                        'rgba(54, 162, 235, 0.2)',#}
    {#                        'rgba(255, 206, 86, 0.2)',#}
    {#                        'rgba(75, 192, 192, 0.2)',#}
    {#                        'rgba(153, 102, 255, 0.2)',#}
    {#                        'rgba(255, 159, 64, 0.2)'#}
    {#                    ],#}
    {#                    borderColor: [#}
    {#                        'rgba(255, 99, 132, 1)',#}
    {#                        'rgba(54, 162, 235, 1)',#}
    {#                        'rgba(255, 206, 86, 1)',#}
    {#                        'rgba(75, 192, 192, 1)',#}
    {#                        'rgba(153, 102, 255, 1)',#}
    {#                        'rgba(255, 159, 64, 1)'#}
    {#                    ],#}
    {#                    borderWidth: 1#}
    {#                }]#}
    {#            },#}
    {#            options: {#}
    {#                scales: {#}
    {#                    yAxes: [{#}
    {#                        ticks: {#}
    {#                            beginAtZero: true#}
    {#                        }#}
    {#                    }]#}
    {#                }#}
    {#            }#}
    {#        });#}
    {#    </script>#}
{% endblock %}